/**
 * @name BetterLightModev0.0.5
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 13,9,92;
  --accentcolor2: 0,106,242;
  --linkcolor: 65,29,129;
  --mentioncolor: 12,0,242;
  --textbrightest: 96,96,96;
  --textbrighter: 28,28,28;
  --textbright: 170,170,170;
  --textdark: 67,67,67;
  --textdarker: 165,165,165;
  --textdarkest: 63,63,63;
  --font: Roboto;
  --backgroundaccent: 205,205,205;
  --backgroundprimary: 225,225,225;
  --backgroundsecondary: 238,238,238;
  --backgroundsecondaryalt: 236,236,236;
  --backgroundtertiary: 220,215,215;
  --backgroundfloating: 209,209,209;
  --settingsicons: 1;
}

/* Any custom CSS below here */


